  .registration-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    position: relative;
   }
  
  .registration-logo {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 150px;
  }
   
  .registration-form-container {
    background-color: rgba(245, 245, 245, 0.479);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 700px;
    margin-right: 13%;
   }

  .registration-form-title{
    margin-right: 40%;
    padding: 5px;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: black;
  }
  
  .registration-grid {
  display: flex;
  gap: 20px;
  flex-direction: row ;
  min-width: 350px; 
  padding-left: 28px;
}

.leftform-column {
   display: flex;
   flex-direction: column;
   gap: 3.5px;
   min-width:300px;
  }
  
  .rightform-column {
   display: flex;
   flex-direction: column;
  min-width: 330px;
  } 
  
  .registrationform-group label {
    display: block;
    font-weight: bold;
  }
  
  .registrationform-group input,
  .registrationform-group select {
    width: 100%;
    border: 1px solid #9a9999;
    border-radius: 5px;
  }
  
  .reg-error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .registersubmit-btn {
     display: block;
     width: 100%;
     border-radius: 5px;
     font-size: 18px;
     align-items: flex-start;
     background-color: #006838;
  }
  
  .registersubmit-btn:disabled {
    
    cursor: not-allowed;
  }
