body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Disable text selection and pointer cursor for non-editable elements */
h1, h2, h3, h4, h5, h6,
label,
nav, .sidebar, .topbar,
img, svg, image, 
.photo,
.logo,
button,
a,
span,
.space,
div.static-text {
  user-select: none;
  cursor: default;
}
